1_ A partir del CSV hospitales2.csv, generar un archivo CSV de salida, que contenga los siguientes campos en este orden:<br>
    *latitude<br>
    *longitude<br>
    *name<br>
    *label<br>

2_ Con los correspondientes datos extraídos del CSV original, el campo name tiene que corresponder con la dirección del hospital, y el campo label con el nombre del hospital.<br>

3_ Ejemplo de visualización en: https://www.gpsvisualizer.com

In [1]:
import pandas as pd
import numpy as np

In [80]:
ds_hosp2 = pd.read_csv('hospitales2.csv', sep=',', encoding='UTF-8')

In [81]:
ds_hosp2_dev = ds_hosp2[['WKT','DOM_GEO','NOMBRE']]

In [82]:
ds_hosp2_dev.head(1)

,WKT,DOM_GEO,NOMBRE
0,POINT (-58.3775508488443 -34.6288473603881),"40 MONTES DE OCA, MANUEL AV.",HOSPITAL GENERAL DE NIÑOS PEDRO DE ELIZALDE

In [83]:
ds_hosp2_dev['WKT'] = ds_hosp2_dev['WKT'].str.replace('POINT (','')
ds_hosp2_dev['WKT'] = ds_hosp2_dev['WKT'].str.replace(')','')

C:\Users\house\AppData\Local\Temp\ipykernel_23824\3924211886.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds_hosp2_dev['WKT'] = ds_hosp2_dev['WKT'].str.replace('POINT (','')
C:\Users\house\AppData\Local\Temp\ipykernel_23824\3924211886.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds_hosp2_dev['WKT'] = ds_hosp2_dev['WKT'].str.replace(')','')

In [84]:
ds_hosp2_dev.head(1)

,WKT,DOM_GEO,NOMBRE
0,-58.3775508488443 -34.6288473603881,"40 MONTES DE OCA, MANUEL AV.",HOSPITAL GENERAL DE NIÑOS PEDRO DE ELIZALDE

In [85]:
ds_hosp2_dev[['longitude', 'latitude']] = ds_hosp2_dev['WKT'].str.split(' ', expand=True)

C:\Users\house\AppData\Local\Temp\ipykernel_23824\694192809.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds_hosp2_dev[['longitude', 'latitude']] = ds_hosp2_dev['WKT'].str.split(' ', expand=True)
C:\Users\house\AppData\Local\Temp\ipykernel_23824\694192809.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds_hosp2_dev[['longitude', 'latitude']] = ds_hosp2_dev['WKT'].str.split(' ', expand=True)

In [86]:
ds_hosp2_dev.head(1)

,WKT,DOM_GEO,NOMBRE,longitude,latitude
0,-58.3775508488443 -34.6288473603881,"40 MONTES DE OCA, MANUEL AV.",HOSPITAL GENERAL DE NIÑOS PEDRO DE ELIZALDE,-58.3775508488443,-34.6288473603881

In [87]:
ds_hosp2_dev = ds_hosp2_dev[['latitude', 'longitude', 'DOM_GEO', 'NOMBRE']]
ds_hosp2_dev.rename(columns={'DOM_GEO':'name', 'NOMBRE':'label'}, inplace=True)

In [88]:
ds_hosp2_dev.head(1)

,latitude,longitude,name,label
0,-34.6288473603881,-58.3775508488443,"40 MONTES DE OCA, MANUEL AV.",HOSPITAL GENERAL DE NIÑOS PEDRO DE ELIZALDE

In [89]:
ds_hosp2_dev['latitude'] = ds_hosp2_dev['latitude'].astype(float)
ds_hosp2_dev['longitude'] = ds_hosp2_dev['longitude'].astype(float)

In [90]:
ds_hosp2_dev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   36 non-null     float64
 1   longitude  36 non-null     float64
 2   name       36 non-null     object
 3   label      36 non-null     object
dtypes: float64(2), object(2)
memory usage: 1.3+ KB

In [91]:
ds_hosp2_dev.to_csv('hosp_output.csv', index=False)